#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
  cursor: pointer;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #93bce6;
  color: #000000;
}

/* ///////////////////////////////////////////UPDATED CODE TO REDUCE TABLE CELL HEIGHT AND FONT SIZE\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
#transactionTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  /* Smaller font size */
}

#transactionTable td,
#transactionTable th {
  border: 1px solid #ddd;
  padding: 4px 6px;
  /* Less vertical and horizontal padding */
  cursor: pointer;
}

#transactionTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#transactionTable tr:hover {
  background-color: #ddd;
}

#transactionTable th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: #93bce6;
  color: #000000;
}

#customers thead th {
  position: sticky;
  top: 0;
  /* background: #002D68; */
  /* color: white; */
  z-index: 1;
}